* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, p, ul {
	padding: 0.5em 0;
}

ul {
	margin-left: 2em;
}

:root {
	--accent-color: #800000; 
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 80%;
	margin: auto;
	border: 2px solid var(--accent-color);
}

header {
	border-bottom: 2px solid var(--accent-color);
	background: linear-gradient(30deg, #f6bb73 0%, white 30%, white 65%, #f6bb73 100%);
}

header h2 {
	font-size: 175%;
	text-indent: 30px;
	padding-bottom: 0;
	color: var(--accent-color);
}

header h3 {
	font-size: 130%;
	font-style: italic;
	text-indent: 30px;
	padding-bottom: 1em;
}

header img {
	float: left;
	margin: 0.75em 1em;
}

main {
	clear: left;
	padding: 0 1em 1em;
}

main h1 {
	border-top: 2px solid var(--accent-color);
	border-bottom: 2px solid var(--accent-color);
	border-right: 2px solid var(--accent-color);
	border-left: 2px solid var(--accent-color);
	border-radius: 6px; 
	padding: 0.5em; 	
	text-align: center; 
}
main h2 {
	color: var(--accent-color)
}
footer {
	text-align: center;
	background-color: var(--accent-color);
}

footer p {
	color: white;
	padding: 1em 0;
}

.large {
	font-size: 125%;
}

main img {
	border: 4px double var(--accent-color);
	border-radius: 8px;
}

blockquote {
	font-style: italic;
	padding-left: 1em;
}